In [7]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

In [3]:
data_dir = 'data/'
file_name = 'def_actions.csv'

In [12]:

files = [f for f in listdir(data_dir) if isfile(join(data_dir, f))]
files

['squad_stats_opponents.csv',
 'pass_type.csv',
 'def_actions_opp.csv',
 'shooting_opp.csv',
 'goalkeeping_advanced_opp.csv',
 'goalkeeping.csv',
 'poss_opp.csv',
 'msc_stats.csv',
 'squad_stats.csv',
 'goal_shot_creat_opp.csv',
 'passing.csv',
 'passing_opp.csv',
 'pass_type_opp.csv',
 'goalkeeping_opponent.csv',
 'shooting.csv',
 'league_table_home_away.csv',
 'goalkeeping_advanced.csv',
 'misc_stats_opp.csv',
 'def_actions.csv',
 'playing_time.csv',
 'poss.csv',
 'playing_time_opp.csv',
 'league_table_overall.csv',
 'goal_shot_creat.csv']

In [18]:
files[0]

'squad_stats_opponents.csv'

In [35]:
temp = pd.read_csv(data_dir+files[0], skiprows=1)
temp.head()

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
0,vs Arsenal,27,27.6,48.2,28,308,2520,28.0,31,22,...,1.79,34.2,31.9,24.3,56.3,1.22,0.87,2.09,1.14,2.01
1,vs Aston Villa,30,27.4,53.8,29,319,2610,29.0,39,26,...,2.14,36.6,32.8,24.4,57.2,1.26,0.84,2.10,1.13,1.97
2,vs Brentford,28,27.5,55.8,30,330,2700,30.0,45,36,...,2.63,39.3,37.7,27.6,65.4,1.31,0.92,2.23,1.26,2.18
3,vs Brighton,25,27.6,43.0,29,319,2610,29.0,36,29,...,2.14,37.3,34.3,24.8,59.2,1.29,0.86,2.14,1.18,2.04
4,vs Burnley,22,27.4,61.1,27,297,2430,27.0,37,27,...,2.33,39.2,38.4,28.2,66.6,1.45,1.04,2.50,1.42,2.47

In [36]:
temp = temp.drop('Squad',axis=1)

In [37]:
temp#.values

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,...,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
0,27,27.6,48.2,28,308,2520,28.0,31,22,28,...,1.79,34.2,31.9,24.3,56.3,1.22,0.87,2.09,1.14,2.01
1,30,27.4,53.8,29,319,2610,29.0,39,26,36,...,2.14,36.6,32.8,24.4,57.2,1.26,0.84,2.10,1.13,1.97
2,28,27.5,55.8,30,330,2700,30.0,45,36,43,...,2.63,39.3,37.7,27.6,65.4,1.31,0.92,2.23,1.26,2.18
3,25,27.6,43.0,29,319,2610,29.0,36,29,33,...,2.14,37.3,34.3,24.8,59.2,1.29,0.86,2.14,1.18,2.04
4,22,27.4,61.1,27,297,2430,27.0,37,27,36,...,2.33,39.2,38.4,28.2,66.6,1.45,1.04,2.50,1.42,2.47
5,25,27.4,39.9,28,308,2520,28.0,18,11,13,...,0.86,24.8,21.5,14.8,36.3,0.89,0.53,1.41,0.77,1.30
6,24,27.6,49.6,29,319,2610,29.0,36,23,33,...,1.93,34.2,31.2,21.5,52.8,1.18,0.74,1.92,1.08,1.82
7,32,27.4,58.4,27,297,2430,27.0,43,34,42,...,2.81,39.3,38.5,29.5,68.0,1.45,1.09,2.55,1.43,2.52
8,29,27.7,45.7,30,330,2700,30.0,66,50,61,...,3.70,55.0,51.3,37.0,88.3,1.83,1.23,3.07,1.71,2.94
9,25,27.5,49.9,27,297,2430,27.0,45,30,39,...,2.56,46.3,41.1,29.7,70.9,1.71,1.10,2.82,1.52,2.63
10,27,27.4,37.7,29,319,2610,29.0,19,13,19,...,1.10,27.6,27.6,22.0,49.6,0.95,0.76,1.71,0.95,1.71
11,25,27.5,31.6,29,319,2610,29.0,18,15,17,...,1.10,21.2,20.4,15.9,36.3,0.73,0.55,1.28,0.70,1.25
12,25,27.7,47.1,29,319,2610,29.0,37,30,35,...,2.24,41.3,38.3,27.9,66.1,1.42,0.96,2.38,1.32,2.28
13,29,27.4,60.2,29,319,2610,29.0,47,33,42,...,2.59,42.5,38.6,29.1,67.7,1.47,1.00,2.47,1.33,2.33
14,27,27.4,57.0,29,319,2610,29.0,61,43,53,...,3.31,55.5,48.0,36.2,84.2,1.91,1.25,3.16,1.65,2.90
15,25,27.6,50.4,29,319,2610,29.0,44,35,42,...,2.66,41.4,40.1,32.0,72.1,1.43,1.10,2.53,1.38,2.49
16,25,27.7,48.3,29,319,2610,29.0,35,27,33,...,2.07,32.5,31.0,22.9,53.9,1.12,0.79,1.91,1.07,1.86
17,30,27.5,59.1,29,319,2610,29.0,52,38,49,...,3.00,49.6,46.5,36.2,82.8,1.71,1.25,2.96,1.60,2.85
18,25,27.6,52.6,30,330,2700,30.0,38,28,36,...,2.13,38.6,36.3,26.3,62.6,1.29,0.88,2.16,1.21,2.09
19,24,27.2,50.4,30,330,2700,30.0,25,14,20,...,1.13,42.9,39.1,28.8,67.9,1.43,0.96,2.39,1.30,2.26

In [40]:
list(temp.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [31]:
temp2 = pd.read_csv(data_dir+files[1], skiprows=1)
temp2.head()

,Squad,# Pl,90s,Att,Live,Dead,FK,TB,Press,Sw,...,Left,Right,Head,TI,Other,Cmp,Off,Out.1,Int,Blocks
0,Arsenal,27,28.0,14063,12872,1191,294,24,1812,388,...,5875,6680,511,494,181,11504,43,223,397,275
1,Aston Villa,30,29.0,12056,10663,1393,408,28,1650,381,...,3997,6452,537,536,167,9347,33,244,374,273
2,Brentford,28,30.0,12359,10966,1393,357,21,1860,289,...,3665,6453,860,619,214,8841,53,268,440,350
3,Brighton,25,29.0,16227,14921,1306,289,17,2135,449,...,4030,10524,504,614,206,13212,36,245,473,413
4,Burnley,22,27.0,9754,8551,1203,255,20,1711,340,...,2966,4821,673,552,165,6602,72,232,301,315

In [32]:
temp2 = temp2.drop('Squad',axis=1)
temp2

,# Pl,90s,Att,Live,Dead,FK,TB,Press,Sw,Crs,...,Left,Right,Head,TI,Other,Cmp,Off,Out.1,Int,Blocks
0,27,28.0,14063,12872,1191,294,24,1812,388,306,...,5875,6680,511,494,181,11504,43,223,397,275
1,30,29.0,12056,10663,1393,408,28,1650,381,354,...,3997,6452,537,536,167,9347,33,244,374,273
2,28,30.0,12359,10966,1393,357,21,1860,289,325,...,3665,6453,860,619,214,8841,53,268,440,350
3,25,29.0,16227,14921,1306,289,17,2135,449,372,...,4030,10524,504,614,206,13212,36,245,473,413
4,22,27.0,9754,8551,1203,255,20,1711,340,319,...,2966,4821,673,552,165,6602,72,232,301,315
5,25,28.0,17085,15839,1246,343,42,2352,327,347,...,3647,11936,506,529,174,14513,51,183,469,329
6,24,29.0,14107,12663,1444,399,16,1908,348,327,...,3599,8652,589,640,214,11187,46,242,423,322
7,32,27.0,10554,9281,1273,295,16,1834,305,302,...,2589,6302,538,580,148,7713,45,275,397,316
8,29,30.0,14312,12888,1424,336,21,2016,450,373,...,5859,6795,505,629,278,11249,49,287,502,380
9,25,27.0,13348,12042,1306,345,22,2114,308,229,...,3332,8482,522,523,145,10667,46,234,431,323
10,27,29.0,18616,17277,1339,350,52,2281,542,433,...,4500,12322,648,583,241,15463,45,209,564,423
11,25,29.0,20905,19683,1222,310,53,2312,560,467,...,7622,11812,521,500,184,18447,48,198,446,367
12,25,29.0,15150,13841,1309,298,36,2285,518,332,...,4324,9264,490,558,176,12343,56,210,522,352
13,29,29.0,10355,8994,1361,327,13,1684,363,324,...,2368,6272,549,556,163,7619,37,224,319,287
14,27,29.0,12005,10583,1422,377,16,1820,398,295,...,3607,6732,555,594,186,9188,40,233,385,300
15,25,29.0,13130,11768,1362,319,20,2081,290,338,...,2775,8525,655,575,163,9993,25,246,391,333
16,25,29.0,15359,14066,1293,330,48,1991,340,311,...,3741,10067,507,531,161,12794,47,166,475,354
17,30,29.0,11038,9662,1376,305,13,1687,343,295,...,3114,6045,654,629,148,8007,32,252,357,306
18,25,30.0,13906,12580,1326,237,28,1957,410,405,...,3522,8513,631,624,183,10833,41,266,390,350
19,24,30.0,14653,13327,1326,347,22,2108,456,300,...,4545,8402,547,578,237,11781,46,238,438,322

In [51]:
leag_tb = pd.read_csv(data_dir+'league_table_overall.csv' )
leag_tb.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Manchester City,29,22,4,3,68,18,50,70,66.9,21.2,45.7,1.58,W L W W D,52681,Riyad Mahrez Raheem Sterling - 10,Ederson,NaN
1,2,Liverpool,29,21,6,2,75,20,55,69,72.0,27.6,44.4,1.53,W W W W W,53459,Mohamed Salah - 20,Alisson,NaN
2,3,Chelsea,28,17,8,3,57,19,38,59,46.7,24.8,21.9,0.78,W W W W W,37932,Mason Mount - 8,Edouard Mendy,NaN
3,4,Arsenal,28,17,3,8,44,31,13,54,43.1,34.2,9.0,0.32,W W W L W,59533,Emile Smith Rowe Bukayo Saka - 9,Aaron Ramsdale,NaN
4,5,Tottenham,29,16,3,10,47,36,11,51,48.5,32.5,16.0,0.55,W W L W W,55319,Son Heung-min - 13,Hugo Lloris,NaN

In [59]:
outcome_dict = {'W':1, 'D':0, 'L':-1}
outcome_dict

{'W': 1, 'D': 0, 'L': -1}

In [62]:
def get_num_res(result):
    outcome_dict = {'W':1, 'D':0, 'L':-1}
    return outcome_dict[result]

In [63]:
rev[0].apply(get_num_res)

0     0
1     1
2     1
3     1
4     1
5     1
6    -1
7    -1
8    -1
9     1
10   -1
11    0
12   -1
13   -1
14   -1
15    1
16    1
17    1
18   -1
19   -1
Name: 0, dtype: int64

In [64]:
foo = lambda x: pd.Series([i for i in reversed(x.split(' '))])
rev = leag_tb['Last 5'].apply(foo)

rev[0] = rev[0].apply(get_num_res)
rev[1] = rev[1].apply(get_num_res)
rev[2] = rev[2].apply(get_num_res)
rev[3] = rev[3].apply(get_num_res)
rev[4] = rev[4].apply(get_num_res)
rev

    0  1  2  3  4
0   0  1  1 -1  1
1   1  1  1  1  1
2   1  1  1  1  1
3   1 -1  1  1  1
4   1  1 -1  1  1
5   1 -1  0  1  1
6  -1  1 -1  1  0
7  -1  1  1 -1 -1
8  -1 -1  1  1  1
9   1 -1  1  1 -1
10 -1 -1 -1  1  1
11  0  1  0  1 -1
12 -1 -1 -1 -1 -1
13 -1 -1  1  1  1
14 -1  1  1 -1 -1
15  1  1 -1 -1 -1
16  1 -1 -1 -1 -1
17  1 -1 -1  0 -1
18 -1 -1 -1  0  1
19 -1 -1 -1 -1 -1

In [67]:
temp = pd.concat([leag_tb, rev],axis=1)
temp

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,0,1,2,3,4
0,1,Manchester City,29,22,4,3,68,18,50,70,...,W L W W D,52681,Riyad Mahrez Raheem Sterling - 10,Ederson,NaN,0,1,1,-1,1
1,2,Liverpool,29,21,6,2,75,20,55,69,...,W W W W W,53459,Mohamed Salah - 20,Alisson,NaN,1,1,1,1,1
2,3,Chelsea,28,17,8,3,57,19,38,59,...,W W W W W,37932,Mason Mount - 8,Edouard Mendy,NaN,1,1,1,1,1
3,4,Arsenal,28,17,3,8,44,31,13,54,...,W W W L W,59533,Emile Smith Rowe Bukayo Saka - 9,Aaron Ramsdale,NaN,1,-1,1,1,1
4,5,Tottenham,29,16,3,10,47,36,11,51,...,W W L W W,55319,Son Heung-min - 13,Hugo Lloris,NaN,1,1,-1,1,1
5,6,Manchester Utd,29,14,8,7,48,40,8,50,...,W W D L W,73066,Cristiano Ronaldo - 12,David de Gea,NaN,1,-1,0,1,1
6,7,West Ham,30,14,6,10,49,39,10,48,...,D W L W L,57945,Jarrod Bowen Michail Antonio - 8,Łukasz Fabiański,NaN,-1,1,-1,1,0
7,8,Wolves,30,14,4,12,31,26,5,46,...,L L W W L,30700,Raúl Jiménez - 6,José Sá,NaN,-1,1,1,-1,-1
8,9,Aston Villa,29,11,3,15,41,40,1,36,...,W W W L L,41869,Ollie Watkins - 7,Emiliano Martínez,NaN,-1,-1,1,1,1
9,10,Leicester City,27,10,6,11,42,46,-4,36,...,L W W L W,32228,Jamie Vardy - 10,Kasper Schmeichel,NaN,1,-1,1,1,-1
10,11,Southampton,29,8,11,10,36,45,-9,35,...,W W L L L,29784,Che Adams - 7,Alex McCarthy,NaN,-1,-1,-1,1,1
11,12,Crystal Palace,29,7,13,9,39,38,1,34,...,L W D W D,24440,Wilfried Zaha - 9,Vicente Guaita,NaN,0,1,0,1,-1
12,13,Brighton,29,7,12,10,26,36,-10,33,...,L L L L L,30836,Neal Maupay - 8,Robert Sánchez,NaN,-1,-1,-1,-1,-1
13,14,Newcastle Utd,29,7,10,12,32,49,-17,31,...,W W W L L,51249,Callum Wilson - 6,Martin Dúbravka,NaN,-1,-1,1,1,1
14,15,Brentford,30,8,6,16,33,47,-14,30,...,L L W W L,16889,Ivan Toney - 11,David Raya,NaN,-1,1,1,-1,-1
15,16,Leeds United,30,7,8,15,34,67,-33,29,...,L L L W W,36288,Raphael Dias Belloli - 9,Illan Meslier,NaN,1,1,-1,-1,-1
16,17,Everton,27,7,4,16,29,47,-18,25,...,L L L L W,38266,Demarai Gray - 5,Jordan Pickford,NaN,1,-1,-1,-1,-1
17,18,Watford,29,6,4,19,29,55,-26,22,...,L D L L W,20573,Emmanuel Dennis - 9,Ben Foster,NaN,1,-1,-1,0,-1
18,19,Burnley,27,3,12,12,22,38,-16,21,...,W D L L L,18948,Maxwel Cornet - 6,Nick Pope,NaN,-1,-1,-1,0,1
19,20,Norwich City,29,4,5,20,18,63,-45,17,...,L L L L L,26878,Teemu Pukki - 8,Tim Krul,NaN,-1,-1,-1,-1,-1

In [74]:
l = ['MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'xG', 'xGA', 'xGD', 'xGD/90', 0, 1, 2, 3, 4]

In [75]:
print(l)

['MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'xG', 'xGA', 'xGD', 'xGD/90', 0, 1, 2, 3, 4]

In [86]:
def get_num_team(team):
    team_dict = {
        'Arsenal':0, 'Aston Villa':1, 'Brentford':2, 'Brighton':3, 'Burnley':4,
       'Chelsea':5, 'Crystal Palace':6, 'Everton':7, 'Leeds United':8,
       'Leicester City':9, 'Liverpool':10, 'Manchester City':11, 'Manchester Utd':12,
       'Newcastle Utd':13, 'Norwich City':14, 'Southampton':15, 'Tottenham':16,
       'Watford':17, 'West Ham':18, 'Wolves':19
    }
    
    return team_dict[team]

In [82]:
temp['sqd'] = pd.read_csv(data_dir+'pass_type.csv', skiprows=1)['Squad']

In [88]:
temp['Squad'].apply(get_num_team)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: Squad, dtype: int64

In [69]:
list(temp.columns)

['Rk',
 'Squad',
 'MP',
 'W',
 'D',
 'L',
 'GF',
 'GA',
 'GD',
 'Pts',
 'xG',
 'xGA',
 'xGD',
 'xGD/90',
 'Last 5',
 'Attendance',
 'Top Team Scorer',
 'Goalkeeper',
 'Notes',
 0,
 1,
 2,
 3,
 4]

In [50]:
leag_tb['Last 5'][0]

'W L W W D'

In [44]:
temp2

,# Pl,90s,Att,Live,Dead,FK,TB,Press,Sw,Crs,...,Right,Head,TI,Other,Cmp,Off,Out.1,Int,Blocks,sq
0,27,28.0,14063,12872,1191,294,24,1812,388,306,...,6680,511,494,181,11504,43,223,397,275,Arsenal
1,30,29.0,12056,10663,1393,408,28,1650,381,354,...,6452,537,536,167,9347,33,244,374,273,Aston Villa
2,28,30.0,12359,10966,1393,357,21,1860,289,325,...,6453,860,619,214,8841,53,268,440,350,Brentford
3,25,29.0,16227,14921,1306,289,17,2135,449,372,...,10524,504,614,206,13212,36,245,473,413,Brighton
4,22,27.0,9754,8551,1203,255,20,1711,340,319,...,4821,673,552,165,6602,72,232,301,315,Burnley
5,25,28.0,17085,15839,1246,343,42,2352,327,347,...,11936,506,529,174,14513,51,183,469,329,Chelsea
6,24,29.0,14107,12663,1444,399,16,1908,348,327,...,8652,589,640,214,11187,46,242,423,322,Crystal Palace
7,32,27.0,10554,9281,1273,295,16,1834,305,302,...,6302,538,580,148,7713,45,275,397,316,Everton
8,29,30.0,14312,12888,1424,336,21,2016,450,373,...,6795,505,629,278,11249,49,287,502,380,Leeds United
9,25,27.0,13348,12042,1306,345,22,2114,308,229,...,8482,522,523,145,10667,46,234,431,323,Leicester City
10,27,29.0,18616,17277,1339,350,52,2281,542,433,...,12322,648,583,241,15463,45,209,564,423,Liverpool
11,25,29.0,20905,19683,1222,310,53,2312,560,467,...,11812,521,500,184,18447,48,198,446,367,Manchester City
12,25,29.0,15150,13841,1309,298,36,2285,518,332,...,9264,490,558,176,12343,56,210,522,352,Manchester Utd
13,29,29.0,10355,8994,1361,327,13,1684,363,324,...,6272,549,556,163,7619,37,224,319,287,Newcastle Utd
14,27,29.0,12005,10583,1422,377,16,1820,398,295,...,6732,555,594,186,9188,40,233,385,300,Norwich City
15,25,29.0,13130,11768,1362,319,20,2081,290,338,...,8525,655,575,163,9993,25,246,391,333,Southampton
16,25,29.0,15359,14066,1293,330,48,1991,340,311,...,10067,507,531,161,12794,47,166,475,354,Tottenham
17,30,29.0,11038,9662,1376,305,13,1687,343,295,...,6045,654,629,148,8007,32,252,357,306,Watford
18,25,30.0,13906,12580,1326,237,28,1957,410,405,...,8513,631,624,183,10833,41,266,390,350,West Ham
19,24,30.0,14653,13327,1326,347,22,2108,456,300,...,8402,547,578,237,11781,46,238,438,322,Wolves

In [34]:
pd.concat([temp,temp2],axis=1)

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,...,Left,Right,Head,TI,Other,Cmp,Off,Out.1,Int,Blocks
0,27,27.6,48.2,28,308,2520,28.0,31,22,28,...,5875,6680,511,494,181,11504,43,223,397,275
1,30,27.4,53.8,29,319,2610,29.0,39,26,36,...,3997,6452,537,536,167,9347,33,244,374,273
2,28,27.5,55.8,30,330,2700,30.0,45,36,43,...,3665,6453,860,619,214,8841,53,268,440,350
3,25,27.6,43.0,29,319,2610,29.0,36,29,33,...,4030,10524,504,614,206,13212,36,245,473,413
4,22,27.4,61.1,27,297,2430,27.0,37,27,36,...,2966,4821,673,552,165,6602,72,232,301,315
5,25,27.4,39.9,28,308,2520,28.0,18,11,13,...,3647,11936,506,529,174,14513,51,183,469,329
6,24,27.6,49.6,29,319,2610,29.0,36,23,33,...,3599,8652,589,640,214,11187,46,242,423,322
7,32,27.4,58.4,27,297,2430,27.0,43,34,42,...,2589,6302,538,580,148,7713,45,275,397,316
8,29,27.7,45.7,30,330,2700,30.0,66,50,61,...,5859,6795,505,629,278,11249,49,287,502,380
9,25,27.5,49.9,27,297,2430,27.0,45,30,39,...,3332,8482,522,523,145,10667,46,234,431,323
10,27,27.4,37.7,29,319,2610,29.0,19,13,19,...,4500,12322,648,583,241,15463,45,209,564,423
11,25,27.5,31.6,29,319,2610,29.0,18,15,17,...,7622,11812,521,500,184,18447,48,198,446,367
12,25,27.7,47.1,29,319,2610,29.0,37,30,35,...,4324,9264,490,558,176,12343,56,210,522,352
13,29,27.4,60.2,29,319,2610,29.0,47,33,42,...,2368,6272,549,556,163,7619,37,224,319,287
14,27,27.4,57.0,29,319,2610,29.0,61,43,53,...,3607,6732,555,594,186,9188,40,233,385,300
15,25,27.6,50.4,29,319,2610,29.0,44,35,42,...,2775,8525,655,575,163,9993,25,246,391,333
16,25,27.7,48.3,29,319,2610,29.0,35,27,33,...,3741,10067,507,531,161,12794,47,166,475,354
17,30,27.5,59.1,29,319,2610,29.0,52,38,49,...,3114,6045,654,629,148,8007,32,252,357,306
18,25,27.6,52.6,30,330,2700,30.0,38,28,36,...,3522,8513,631,624,183,10833,41,266,390,350
19,24,27.2,50.4,30,330,2700,30.0,25,14,20,...,4545,8402,547,578,237,11781,46,238,438,322

In [90]:
import pickle

In [91]:
df = pickle.load( open( data_dir+'../train_team_data_df.pkl', 'rb' ) )

In [95]:
for i,k in enumerate(df.iloc[4].values):
    print(i,k)

0 0.0
1 0.3999999999999986
2 1.0
3 0.0
4 0.0
5 0.0
6 0.0
7 0.39583333333333326
8 0.41025641025641024
9 0.4791666666666667
10 0.125
11 0.1
12 0.0
13 0.0
14 0.47468354430379744
15 0.47656250000000006
16 0.4699646643109541
17 0.5541401273885351
18 0.517605633802817
19 0.5247813411078719
20 0.5825242718446603
21 0.6036036036036037
22 0.5826923076923076
23 0.6101694915254238
24 0.7083333333333333
25 0.648936170212766
26 0.7128712871287128
27 0.7218934911242605
28 0.0
29 0.0
30 0.0
31 0.0
32 0.04743083003952542
33 0.10526315789473695
34 0.175
35 0.08689458689458673
36 0.18819188191881908
37 0.37815126050420167
38 0.07407407407407407
39 0.9487179487179487
40 0.0
41 0.10526315789473684
42 0.0
43 0.06362378976486838
44 1.0000000000000002
45 0.11381804339550822
46 0.0
47 0.49459459459459465
48 0.397260273972603
49 0.15037593984962405
50 0.0
51 1.0
52 0.5454545454545454
53 0.0
54 0.28
55 0.0
56 0.0
57 0.0
58 0.0
59 0.0
60 0.0
61 0.2413793103448275
62 0.0
63 0.0
64 0.2357723577235773
65 0.08074534161490687
66 0.0
67 0.0
68 0.7372881355932202
69 0.02372262773722622
70 0.0
71 0.0
72 0.10952380952380958
73 0.0
74 0.2222222222222222
75 0.3377483443708611
76 0.0
77 0.0
78 0.9409594095940956
79 0.5454545454545454
80 0.0
81 0.0
82 0.39583333333333326
83 0.9384615384615385
84 0.46846846846846846
85 0.0
86 1.0
87 0.5773480662983425
88 0.375
89 0.6818181818181818
90 0.5714285714285712
91 0.5
92 0.125
93 0.1
94 0.5247813411078719
95 0.5825242718446603
96 0.25
97 0.5432525951557093
98 0.5798611111111112
99 0.5
100 0.0
101 0.07017543859649122
102 0.0
103 0.3333333333333333
104 0.07142857142857142
105 0.3333333333333333
106 0.004132231404958664
107 0.40000000000000036
108 0.6666666666666667
109 0.6818181818181819
110 0.26041666666666674
111 0.4033333333333333
112 0.027272727272727337
113 0.8434782608695652
114 1.0
115 0.34782608695652173
116 0.35164835164835173
117 0.19083969465648853
118 0.4652014652014653
119 0.4275362318840581
120 0.8333333333333333
121 0.85
122 0.6986301369863013
123 0.631578947368421
124 0.7272727272727273
125 0.7906976744186047
126 0.5
127 0.0
128 0.0
129 0.0
130 0.0
131 0.40816326530612246
132 0.4906832298136645
133 0.46846846846846846
134 0.48484848484848486
135 0.3822222222222216
136 0.0
137 0.9000000000000001
138 0.5555555555555556
139 0.2857142857142857
140 0.32716049382716045
141 0.09090909090909091
142 0.125
143 0.0
144 0.0
145 0.0
146 0.0
147 1.0
148 0.0
149 0.8294727217311795
150 0.25294650951949227
151 0.770833333333333
152 0.7171113155473783
153 0.7770755530020109
154 0.841918294849023
155 0.8313656668793876
156 0.3652694610778444
157 0.2906249999999999
158 0.4044943820224729
159 0.35754189944134085
160 0.676470588235294
161 0.8311663840211043
162 0.8405906978277351
163 0.8640823291031245
164 0.8137860082304528
165 0.6352583586626139
166 0.9999999999999999
167 0.23584905660377364
168 0.3941605839416058
169 0.8390510325994198
170 0.828985507246377
171 0.7499999999999982
172 0.7478005865102639
173 0.0
174 0.0
175 0.2727272727272727
176 0.0
177 0.0
178 0.32638888888888884
179 0.0
180 1.0
181 0.37815126050420167
182 0.7487179487179487
183 0.12612612612612617
184 0.0
185 0.0
186 0.25
187 0.37117903930131035
188 1.0
189 0.8812154696132597
190 0.7017543859649122
191 0.0
192 1.0
193 0.0
194 0.0
195 0.0
196 0.0
197 0.0
198 0.06779661016949151
199 0.11627906976744184
200 0.12499999999999997
201 0.0
202 0.0
203 0.2727272727272727
204 0.0
205 0.09313725490196079
206 0.1476510067114094
207 0.11396011396011402
208 0.15025906735751296
209 0.14912280701754388
210 0.0
211 0.03153153153153143
212 0.04968944099378886
213 0.039164490861618884
214 0.018404907975460127
215 0.09009009009009011
216 0.04761904761904767
217 0.0714285714285714
218 0.07954545454545447
219 0.0
220 0.0
221 0.9683698296836984
222 1.0
223 0.9999999999999999
224 0.41666666666666663
225 0.7999999999999999
226 1.0
227 0.6086956521739131
228 0.3125
229 0.430379746835443
230 0.5058365758754864
231 0.5735294117647058
232 0.0
233 0.16666666666666666
234 0.5
235 0.25
236 0.0
237 0.0
238 0.0
239 0.0
240 0.0
241 0.0
242 0.0
243 0.015278050697583145
244 0.0
245 0.0
246 0.018348623853211343
247 0.0
248 0.0
249 0.0
250 0.08402662229617297
251 0.4039923954372626
252 0.0
253 0.11627906976744184
254 0.04968944099378886
255 0.33108108108108103
256 0.0
257 0.029866117404737325
258 0.026717557251908386
259 0.6734693877551021
260 0.05489773950484389
261 0.0
262 0.0
263 0.828985507246377
264 0.8576472476328036
265 0.6896551724137936
266 0.7585868781542899
267 0.6752190937907887
268 0.9037242472266245
269 0.940066592674806
270 0.6734693877551017
271 0.740909090909091
272 0.7637648809523809
273 0.6578947368421062
274 0.5682704811443435
275 0.6205405405405409
276 0.4666666666666668
277 0.41025641025641024
278 0.6036036036036037
279 0.4892086330935252
280 0.9723756906077348
281 0.5404624277456647
282 1.0
283 0.6521739130434783
284 0.7478005865102639
285 0.0
286 0.0
287 0.8576472476328036
288 0.8627879603161259
289 0.6264705882352941
290 0.5267857142857144
291 0.10344827586206906
292 0.6934460887949259
293 0.6715328467153284
294 0.8253275109170306
295 0.8559322033898306
296 0.3857142857142857
297 0.6153846153846154
298 0.7692307692307694
299 0.7995914198161387
300 0.9743954480796584
301 0.6265769554247265
302 0.9538847117794487
303 0.7342864850283248
304 0.7242268041237114
305 0.8517110266159698
306 1.0
307 0.828985507246377
308 0.20618556701030927
309 0.6338028169014085
310 0.6736842105263157
311 0.7588652482269502
312 0.5
313 0.0
314 0.0
315 0.0
316 0.0
317 0.07017543859649122
318 0.09644670050761422
319 0.0
320 0.0
321 0.5194174757281553
322 0.5555555555555556
323 0.9000000000000001
324 0.0
325 0.8
326 0.862934362934363
327 0.0
328 0.0
329 0.0
330 0.0
331 nan
332 0.0
333 0.0
334 0.06779661016949151
335 0.0
336 0.0
337 0.09999999999999964
338 0.03501094091903734
339 0.023498694516971397
340 0.2500000000000001
341 0.4545454545454545
342 0.5
343 0.35294117647058826
344 0.0
345 0.0
346 0.0
347 0.03153153153153143
348 0.19999999999999973
349 0.2666666666666666
350 0.33333333333333337
351 0.21052631578947367
352 0.5
353 0.7777777777777778
354 0.0
355 0.36363636363636365
356 0.5333333333333334
357 0.3333333333333333
358 0.6078431372549019
359 0.7241379310344827
360 0.7246376811594204
361 0.49186991869918706
362 0.3841807909604519
363 0.5478468899521531
364 0.5503355704697988
365 1.0
366 0.6000000000000001
367 0.2857142857142857
368 0.5555555555555556
369 0.4333333333333333
370 0.39999999999999997
371 0.5102040816326531
372 0.5666666666666667
373 0.5515463917525774
374 0.5375
375 0.2406417112299466
376 0.6250000000000001
377 0.6376306620209058
378 0.5
379 0.0
380 0.40816326530612246
381 0.125
382 0.5
383 0.5454545454545454
384 0.25
385 0.46681922196796344
386 0.8461538461538463
387 0.45789473684210524
388 0.44615384615384623
389 0.8678160919540229
390 0.8870967741935485
391 0.22978723404255308
392 0.23460898502495842
393 0.05084745762711873
394 1.0
395 1.0
396 0.6174496644295301
397 1.0
398 1.0
399 0.8013245033112584
400 0.7272727272727273
401 0.6263736263736264
402 1.0
403 1.0
404 1.0
405 0.0
406 0.0
407 0.0
408 0.0
409 0.0
410 0.0
411 0.3202614379084969
412 0.14736842105263154
413 0.8253275109170306
414 0.0
415 0.0
416 0.125
417 0.0
418 0.3333333333333333
419 0.834638816362054
420 0.8812154696132597
421 1.0
422 0.2982456140350873
423 0.0
424 0.0
425 0.2965779467680607
426 0.12612612612612617
427 0.42288557213930345
428 0.30555555555555536
429 0.4565217391304348
430 0.22916666666666674
431 0.29374999999999996
432 0.6019417475728153
433 0.35754189944134085
434 0.3236345074017355
435 0.059925093632958504
436 0.18333333333333357
437 0.4639175257731959
438 0.3460207612456747
439 0.4819532908704882
440 0.9999999999999998
441 1.0
442 1.0
443 0.7428571428571427
444 0.7487179487179487
445 0.4977777777777779
446 0.8301886792452831
447 0.6000000000000001
448 0.0
449 1.0
450 0.0
451 0.0
452 0.0
453 0.0
454 0.0
455 0.0
456 0.7999999999999972
457 0.3023255813953485
458 0.23529411764705865
459 0.3125
460 0.29729729729729737
461 0.10439560439560441
462 0.07017543859649122
463 0.40816326530612246
464 0.29000000000000004
465 0.27826086956521745
466 0.0
467 0.5247813411078719
468 0.20130718954248367
469 0.18560606060606066
470 0.0
471 0.0
472 0.0
473 0.0
474 0.24705882352941178
475 0.0
476 0.011161060300728609
477 0.010981912144702899
478 0.0
479 0.0
480 0.04285714285714293
481 0.007380073800737907
482 0.6470588235294121
483 0.08074534161490687
484 0.0
485 0.0
486 0.0
487 0.0
488 0.0
489 0.0
490 0.0
491 0.2589285714285716
492 0.0
493 0.0
494 0.0
495 0.0
496 0.05489773950484389
497 0.0
498 0.3999999999999986
499 0.0
500 0.0
501 0.0
502 0.0
503 0.0
504 0.0
505 1.0
506 0.1904761904761907
507 0.09523809523809534
508 0.125
509 0.24324324324324298
510 0.10439560439560441
511 0.40816326530612246
512 0.07017543859649122
513 0.7100000000000001
514 0.7217391304347827
515 0.5247813411078719
516 0.0
517 0.7986928104575164
518 0.8143939393939394
519 0.6666666666666661
520 0.6842105263157894
521 0.0
522 0.4444444444444445
523 0.5087719298245613
524 0.36734693877551017
525 0.56
526 0.6415094339622642
527 0.5114345114345114
528 0.3294460641399418
529 0.611764705882353
530 0.6098484848484849
531 1.0
532 1.0
533 0.0
534 1.0
535 1.0
536 0.0
537 0.0
538 0.0
539 0.011280690112806857
540 0.0
541 0.4901960784313726
542 0.0
543 0.025000000000000022
544 0.875
545 0.1875
546 0.11340206185567014
547 0.14029850746268657
548 0.078125
549 0.5
550 0.25
551 0.07142857142857142
552 0.14285714285714285
553 0.0
554 4.0

In [100]:
list(df.columns)[331]

'Save%.1'

In [103]:
df['Save%.1'].mean()

Save%.1    0.192368
Save%.1    0.183698
dtype: float64

In [4]:
df = pd.read_csv('league_games.csv')

In [9]:
np.unique(df['Home'][~np.isnan(df['Home'])])

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''